<style>
    @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

    body {
        font-family: verdana;
    }

    #footer {
        /* bottom: 0px; */
        /* position: absolute; */
        font-family: 'Potta One', cursive;
    }

    #header {
        font-family: 'Potta One', cursive;
        background-color: orange;
        color: white;
        /* padding: 5px; */
        padding-left: 20px;
        font-size: 20px !important;
    }

    #iniziapartita {
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        color: white;
        background-color: darkgreen;
        border-color: green;
        border-width: 3px;
        font-size: 20px;
    }

    #gioca {
        border-radius: 80px;
        padding: 30px;
        margin: 10px;
        color: white;
        background-color: darkgreen;
        border-color: green;
        border-width: 3px;
        font-size: 30px;
        text-align: center;
        width: auto;

    }

    #verificaturno {
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        color: white;
        background-color: orange;
        border-color: orange;
        border-width: 3px;
    }

    #turno {
        display: block;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }

    #pulsantiera form {
        display: inline-block;
    }


    #stato {
        display: block;
        /* border: 2px solid darkred; */
        /* background-color: red; */
        color: black;
        padding: 5px;
        margin: 5px;
        position: absolute;
        top: 5px;
        text-align: right;
        right: 5px;
        font-size: 20px;
    }
    #messaggioAttesa {
        display: block;
        border: 2px solid darkred;
        background-color: rgb(252, 225, 176);
        color: black;
        padding: 5px;
        margin: 5px;
    }

    .tondo {
        border: 2px solid black !important;
    }
    .numero {
        color: orange ! important;
    }

    #tuseiAttesa, #infogiocatore {
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
    }

    #tavola {
        width: 60% !important;
        height:auto !important;
    }

    #infopartita {
        display:none;
    }

    #giocatoriAttesa {
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid orange;
    }

    .giocatore {
        padding: 5px;
        display: block;
        text-align: right;
    }

    #giocatore1 {
        background-color: green;
        color: white;
    }
    #giocatore2 {
        background-color: red;
        color: white;
    }
    #giocatore3 {
        background-color: blue;
        color: white;
    }
    #giocatore4 {
        background-color: yellow;
        color: black;
    }

    .rosso {
        color: white !important;
    }
    .verde {
        color: white !important;
    }    
    .blu {
        color: white !important;
    }

    .floatleft {
        float: none;
    } 

    #dado {
        width: 30px;
        display: block;
        float: right;
        padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
        border: 1px solid black;
        text-align: center;
        height: 30px;
        font-size: 25px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0px 1px 16px 0px #B6B6B6, 5px 5px 10px 0px #6C6C6C;
        -moz-box-shadow: inset 0px 1px 16px 0px #B6B6B6,5px 5px 10px 0px #6C6C6C;
        -o-box-shadow: inset 0px 1px 16px 0px #B6B6B6,5px 5px 10px 0px #6C6C6C;
        box-shadow: inset 0px 1px 16px 0px #B6B6B6, 5px 5px 10px 0px #6C6C6C;
    }

    #messaggio {
        border: 1px solid gray;
        display: block;
        width: 30%;
        float: right;
        padding: 15px;
        margin: 10px;
        -webkit-box-shadow: 5px 5px 10px 0px #838383;
        -moz-box-shadow: 5px 5px 10px 0px #838383;
        -o-box-shadow: 5px 5px 10px 0px #838383;
        box-shadow: 5px 5px 10px 0px #838383;
        border-radius: 10px;
        background-color: mistyrose;
        font-size: 20px;
    }

    #logout {
        font-size: 14px;
        display: block;
        position: absolute;
        top: 5px;
        right: auto;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        color: white;
        font-weight: bold;
        background-color: orange;
        border: 3px outset darkorange;
        display: inline-block;
    }
</style>